/* --- Layout --- */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #303030;
}

.header {
    text-align: center;
    padding: 30px;
    background-color: #002C13;
    color: #01A749;
}

.topnav {
    overflow: hidden;
    background-color: #021B27;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #05a4ed;
}

.topnav a:hover {
    background-color: #05a4ed;
    color: #021B27;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    color: #EB7F02;
}

img {
    max-width: 100%;
    object-fit: cover;
}

figure{
    background-color: #3E2100;
    padding: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;

    padding-left: 20px;
    color: #EB7F02;
}

.rightcolumn figure{
    margin-top: 20px;
    background-color: #3E2100;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: #3E0D00;
    padding: 20px;
    margin-top: 20px;
  }

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.imgGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 3 rows  */
    grid-gap: 50px 30px;
    /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.square {
    width: 80%;
    padding-bottom: 80%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    background: #000
}

.square img {
    position: absolute;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
}

/* --- Typography --- */
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


/* --- Appearance --- */
